@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
/*  background: linear-gradient(45deg, #dfefea, #fffee2, #f69d3c); */
  background: white;
}
header {
  width: 100%;
}
.subHeader {
  width: 100%;
  height: 48px;
  display: flex;
  background-color: white;
  box-shadow: 0px 7px 6px #2d2c2b73;
}
.subHeader .homePage {
  width: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.homePage img {
  width: 100px;
  height: 41px;
  margin-top: 10px;
  margin-bottom: 4px;
}
.subHeader .nav-links {
  width: 50%;
  margin-left: auto;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  align-items: center;
  letter-spacing: 2px;
  font-size: 13px;
  font-weight: bold;
}
.nav-links a li {
  display: inline-block;
  padding: 3px 2px 0px 2px;
  border-radius: 3px;
}
.nav-links a li::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-image: linear-gradient(45deg, white, #2D2C2B);
  transition: .3s ease;
}
.nav-links a li:hover::after {
  width: 100%;
}
.subHeader .nav-links a:hover {
  color: darkcyan;
}
.subHeader a {
  text-decoration: none;
  color: black;
}
.burger {
  z-index: -1;
}
@media screen and (max-width: 575.98px) {
  header {
    float: none;
    width: 100%;
  }
    .subHeader .nav-links {
      width: 100%;
      position: absolute;
      top: 49px;
      height: 250px;
      display: flex;
      flex-direction: column;
      display: none;
    }
    .subHeader .nav-links a {
      width: 100%;
      padding: 21px;
      border-top: 1px solid black;
      display: flex;
      justify-content: center;
      background-color: #eaeaea;
      color: #2D2C2B;
    }
    .subHeader .nav-links a:last-child {
      border-bottom: 1px solid black;
    }
    .subHeader .nav-links a:hover {
      animation: tryOnly .5s;
      animation-fill-mode: both;
    }
    @keyframes tryOnly {
      0% {
        background-color: white;
      }
      100% {
        background-color: #2D2C2B;
      }
    }
    .subHeader {
      position: relative;
    }
    .burger {
      position: absolute;
      cursor: pointer;
      right: 2%;
      top: 10px;
      z-index: 1;
    }
}
@media screen and (max-width: 767.98px) {
  header {
    float: none;
    width: 100%;
  }
    .subHeader .nav-links {
      width: 100%;
      position: absolute;
      top: 49px;
      height: 250px;
      display: flex;
      flex-direction: column;
      display: none;
    }
    .subHeader .nav-links a {
      width: 100%;
      padding: 21px;
      border-top: 1px solid black;
      display: flex;
      justify-content: center;
      background-color: #eaeaea;
      color: #2D2C2B;
    }
    .subHeader .nav-links a:last-child {
      border-bottom: 1px solid black;
    }
    .subHeader .nav-links a:hover {
      animation: tryOnly .5s;
      animation-fill-mode: both;
    }
    @keyframes tryOnly {
      0% {
        background-color: white;
      }
      100% {
        background-color: #2D2C2B;
      }
    }
    .subHeader {
      position: relative;
    }
    .burger {
      position: absolute;
      cursor: pointer;
      right: 2%;
      top: 10px;
      z-index: 1;
    }
}

.header h1 {
  width: 100%;
  height: 35vh;
  font-size: 40px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;

  animation: right-go 4s ease;
}
@keyframes right-go {
  from {
    font-size: 0px;
    left: -100%;
  }
  to {
    font-size: 40px;
    left: 0px;
  }
}
.window1 h1 {
  width: 100%;
  height: 25vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 50px;
  letter-spacing: 5px;
}
.window1 h2 {
  width: 100%;
  border-radius: 1px;
  height: 60vh;
  font-size: 65px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  letter-spacing: 5px;

  background: url('https://images.unsplash.com/photo-1563223566-f731efbdbab0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80');
  background-repeat: round;
  background-position: center;
  background-attachment: fixed;
  box-shadow: 6px 3px 7px 7px #2d2c2b73;
}
@media screen and (max-width: 575.98px) {
  .window1 h2 {
    background: url('https://images.unsplash.com/photo-1563223566-f731efbdbab0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80');
    background-repeat: round;
    background-position: center;
    background-attachment: fixed;
    box-shadow: 6px 3px 7px 7px #2d2c2b73;
  }
}
@media screen and (max-width: 767.98px) {
  .window1 h2 {
    background: url('https://images.unsplash.com/photo-1563223566-f731efbdbab0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80');
    background-repeat: round;
    background-position: center;
    background-attachment: fixed;
    box-shadow: 6px 3px 7px 7px #2d2c2b73;
  }
}
.window1 p {
  text-indent: 70px;
  text-align: justify;
  margin: 100px 20px 20px 20px;
}
